@import "tailwindcss";

:root {
    --bg-main: #222222;
    --bg-main-accent: #2c2c2c;
    --text-main: #d6d6d6;
}

body {
    font-size: 16px;
    background: var(--bg-main);
    background-color: var(--bg-main);
    color: var(--text-main);

}